﻿@model AdminPanel_Project.ViewModels.EmployeeViewModel

<h2>Add New Employee.</h2>


<form asp-controller="Employees" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name" class="font-weight-bold"></label>
        <span style="color:red;">*</span>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="font-weight-bold"></label>
        <span style="color:red;">*</span>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CompanyId" class="font-weight-bold"></label>
        <span style="color:red;">*</span>
        @Html.DropDownListFor(m => m.CompanyId,new SelectList(Model.Companies,"Id","Name"),"--Select--",new {@class="form-control"})
        <span asp-validation-for="CompanyId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>


</form>
