﻿@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<AdminPanel_Project.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Employees</h2>

<a class="btn btn-success m-3" asp-controller="Employees" asp-action="Add">Add New Employee</a>

<form asp-action="Index" method="get" class="form-inline m-3">
    <div class="form-group">
        <div class="input-group">
            <input width="100" class="form-control" type="text" name="searchTerm" placeholder="Search by name, address or website" />
            <span class="input-group-addon">
                <input type="submit" value="Search" class="btn btn-primary" />
            </span>
        </div>
        <a asp-action="Index">Back to Full List</a>
    </div>
</form>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Company</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="font-size:30px;padding:40px;margin:10px">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>