﻿@{
    ViewData["Title"] = "Home Page";
}

<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<div class="container">
    <h2 class="text-primary">Companies</h2>
    <hr />

    <table id="companies" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Address</td>
                <td>Website</td>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>

    <script>
        $(document).ready(function () {
            $('#companies').dataTable({
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": "/api/companies",
                    "type": "POST",
                    "datatype": "json"
                },
                "ColumnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autowidth": true },
                    { "data": "name", "name": "Name", "autowidth": true },
                    { "data": "address", "name":"Address","autowidth": true},
                    { "data": "website", "name": "Website"}
                ]
            });
        });
    </script>
}

