﻿@model AdminPanel_Project.ViewModels.ComapnyViewModel

<h2>Add New Company.</h2>


<form asp-controller="Companies" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name" class="font-weight-bold"></label>
        <span style="color:red;">*</span>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Website" class="font-weight-bold"></label>
        <span style="color:red;">*</span>
        <input asp-for="Website" class="form-control" />
        <span asp-validation-for="Website" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="font-weight-bold"></label>
        <span style="color:red;">*</span>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>


</form>
